extends layout

block content
    h1.page-header= title

    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}

    form(method='post', action='/posts/add', enctype='multipart/form-data')
        .form-group
            label Title
            input.form-control(name='postTitle', type='text')
        .form-group
            label Category
            // TODO: Auto-complete with categories from DB
            input.form-control(name='postCategory', id='postCategory', type='text')
        .form-group
            label Headline Image (Optional)
            input.filestyle(name='headlineImage', type='file', data-buttonBefore='true' data-icon='false')
        .form-group
            label Body
            textarea.form-control(name='postBody', id='body')
        .form-group
            label Author
            // TODO: Get this from currently logged in user
            input.form-control(name='postAuthor', type='text')
        input.btn.ntn-default(name='submit', type='submit', value='Post')

    script(src='/javascripts/bootstrap-filestyle-1.2.1/bootstrap-filestyle.min.js')
    script(src='/javascripts/jquery-ui-1.12.1/jquery-ui.min.js')