extends layout

block main
    h1.page-header= title

    != messages()

    form(method='post', action='/posts/add', enctype='multipart/form-data')
        .form-group
            label(for='postTitle') Title
            input.form-control(name='postTitle', id='postTitle', type='text')
        .form-group.ui-widget
            label(for='postCategory') Category
            input.form-control.autocomplete(name='postCategory', id='postCategory', type='text')
        .form-group
            label(for='headlineImage') Headline Image (Optional)
            input.filestyle(name='headlineImage', id='headlineImage', type='file', data-buttonBefore='true' data-icon='false')
        .form-group
            label(for='postBody') Body
            textarea.form-control(name='postBody', id='postBody')
        .form-group
            label(for='postAuthor') Author
            // TODO: Get this from currently logged in user
            input.form-control(name='postAuthor', id='postAuthor', type='text')
        input.btn.ntn-default(name='submit', type='submit', id='submit' value='Post')

block scripts
    // jQuery UI
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    // bootstrap-filestyle
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js')

    script.
        $(function () {
            var categories = '#{categories}'.split(',');
            $('#postCategory').autocomplete({
                source: categories
            });
        });

