doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title= title
        // Bootstrap CSS
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        // jQuery UI CSS
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')
        // Custom CSS
        link(rel='stylesheet', href='/stylesheets/style.css')
        // jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // Bootstrap
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
        // jQuery UI
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        // bootstrap-filestyle
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js')
    body
        nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#nav-main')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Blog
                // Collect the nav links, forms, and other content for toggling
                #nav-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li(class=(pageid == 'about' ? 'active' : ''))
                            a(href='/about') About
                        li(class=(pageid == 'contact' ? 'active' : ''))
                            a(href='/contact') Contact
                    ul.nav.navbar-nav.navbar-right
                        // Show login if not logged in
                        if !user
                            li
                                a(href='/login')
                                    |Log in&nbsp;
                                    span.glyphicon.glyphicon-log-in(aria-hidden='true')
                        if user
                            li
                                a(href='/posts/add')
                            li
                                a(href='/topics/add')
                            li
                                a(href='/logout')
                                    |Log out&nbsp;
                                    span.glyphicon.glyphicon-log-out(aria-hidden='true')

        .container
            .row
                // Main content
                .col-md-8
                    block content
                // Sidebar
                .col-md-4
                    .well
                        // TODO: Auto-populate with categories
                        h4 Categories
                        ul.list-unstyled
                            li
                                a(href='#') Topic name
                    .well
                        // TODO: Auto-populate with post dates
                        h4 Archives
                        ul.list-unstyled
                            li
                                a(href='#') Jan 2017
        footer
            hr
            .text-center &copy; 2017 #{author}
